.navbar-nav .active-link{
    color: var(--primart-color);
    font-weight: bold;
}
.navbar-brand{
    font-size: 20px;
    font-weight: bold;
    color: rgb(75, 109, 38);

}
.navbar{
    z-index: 99;
}